{% extends 'products/product_base.html' %}
{% load static %}

{% block product_breadcrumb_title %}Stainless Steel Flanges{% endblock %}
{% block product_breadcrumb_subtitle %}Flanges{% endblock %}

{% block product_image %}
<img src="{% static 'img/product/Stainless-Steel-Flanges.jpg' %}" alt="Stainless Steel Flanges" class="img-fluid w-100 h-100 object-fit-cover scale-hover">
{% endblock %}

{% block product_title %}Premium Stainless Steel Flanges{% endblock %}

{% block product_description %}
The Stainless Steel Flanges are available in various shapes, sizes and pressure ratings. The flanges are manufactured using optimum quality material and thereby ensure excellent durability and corrosion resistance. Ideal for high temperature and pressure applications, these flanges are customized as per the precise demands of the clients. These flanges are highly praised for offering hassle free performance and high functionality.
{% endblock %}

{% block product_specifications %}
  <table class="table table-hover align-middle mb-0">
    <thead class="bg-primary text-white">
      <tr>
        <th class="w-25 ps-4">Specification</th>
        <th class="pe-4">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Size Range</th>
        <td class="pe-4">
          15 NB UP TO 600 NB IN 150 LBS, 300 LBS, 400 LBS, 600 LBS, 900 LBS, 1500 LBS, 2500 LBS / TABLE 2.5, TABLE 6, TABLE 10, TABLE 16, TABLE 25, TABLE 40, TABLE 64, TABLE 160, TABLE 320, TABLE 400
        </td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Form (Table)</th>
        <td class="pe-4">
          SLIP ON, SOCKET WELD, BLIND, LAPPED, SCREWED, WELD NECK, REDUCING, SPECTACLE, SLIP ON BOSS, PLATE, PLATE BLANK, SCREWED BOSS.
        </td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Stainless Steel</th>
        <td class="pe-4">
          ASTM / ASME SA 182 F 304, 304L, 304H, 309H, 310H, 316, 316H, 316L, 316 LN, 317, 317L, 321, 321H, 347, 347H.
        </td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Duplex Steel</th>
        <td class="pe-4">
          ASTM / ASME SA 182 F 44, F 45, F 51, F 53, F 55, F 60, F 61.
        </td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Carbon Steel</th>
        <td class="pe-4">
          ASTM / ASME A 105, ASTM / ASME A 350 LF 2.
        </td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Alloy Steel</th>
        <td class="pe-4">
          ASTM / ASME A 182 GR F 5, F 9, F 11, F 12, F 22, F 91.
        </td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Nickel Alloy</th>
        <td class="pe-4">
          ASTM / ASME SB 564 UNS 2200 (NICKEL 200), UNS 4400 (MONEL 400), UNS 8825 (INCONEL 825), UNS 6600 (INCONEL 600), UNS 6601 (INCONEL 601), UNS 6625 (INCONEL 625), UNS 10276 (HASTELLOY C 276), ASTM / ASME SB 160 UNS 2201 (NICKEL 201), ASTM / ASME SB 472 UNS 8020 (ALLOY 20 / 20 CB 3).
        </td>
      </tr>
    </tbody>
</table>

{% endblock %}
