{% extends 'products/product_base.html' %}
{% load static %}

{% block product_breadcrumb_title %}Stainless Steel Fittings{% endblock %}
{% block product_breadcrumb_subtitle %}Fittings{% endblock %}

{% block product_image %}
<img src="{% static 'img/product/Stainless-Steel-Fittings.jpg' %}" alt="Stainless Steel Fittings" class="img-fluid w-100 h-100 object-fit-cover scale-hover">
{% endblock %}

{% block product_title %}Premium Stainless Steel Fittings{% endblock %}

{% block product_description %}
The Stainless Steel Fittings are available in various shapes, sizes and pressure ratings. The flanges are manufactured using optimum quality material and thereby ensure excellent durability and corrosion resistance. Ideal for high temperature and pressure applications, these flanges are customized as per the precise demands of the clients. These flanges are highly praised for offering hassle free performance and high functionality.
{% endblock %}

{% block product_specifications %}
<table class="table table-hover align-middle mb-0">
    <thead class="bg-primary text-white">
      <tr>
        <th class="w-25 ps-4">Specification</th>
        <th class="pe-4">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Size Range</th>
        <td class="pe-4">15 NB To 600 NB in Sch. 5, 10, 20, 30, 40, 60, 80, 100, 120, 140, 160, XXS</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Type</th>
        <td class="pe-4">Bend - Lpng &amp; Short, Radius to 1.5D, 3D, 5D, 6D,100 etc. Elbow - 45 Deg. 90 Deg. &amp; 130 Deg Tee - Barred. Equal. Unequal, Reducer - Con &amp; Ece. CAP, Nipple - Swage &amp; Barrel. Stubend - Long a Short, etc.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Stainless Steel</th>
        <td class="pe-4">ASTM / ASME SA 403 GR WP &quot;S&quot; &quot;W&quot; &quot;WX&quot; 304 , 304L, 304H, 304N, 304LN, 309, 310H, 316, 316H, 317, 317L, 321, 321H, 347, 347 H.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Duplex Steel</th>
        <td class="pe-4">ASTM / ASME SA 815 UNS NO.S 31803, S 32205, S 32550, S 32750, S 32760.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Carbon Steel</th>
        <td class="pe-4">ASTM A 106, A 53, API A 5L Gr A, B, C, ASTM A 234 WPB, ASTM A 333, Gr 1 to 6 (IBR &amp; NON IBR)</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Alloy Steel</th>
        <td class="pe-4">ASTM A 234, GR P1, P2, P5, P9, P11, P22, P91.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Nickel Alloy</th>
        <td class="pe-4">ASTM / ASME SB 336 UNS 2200 ( NICKEL 200 ), UNS 2201 (NICKEL 201 ), UNS 4400 (MONEL 400 ), UNS 8020 ( ALLOY 20 / 20 CB 3, UNS 8825 INCONEL (825), UNS 6600 (INCONEL 600 ), UNS 6601 (INCONEL 601 ), UNS 6625 (INCONEL 625), UNS 10276 ( HASTELLOY C 276 )</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Copper Steel</th>
        <td class="pe-4">ASTM / ASME SB 111 UNS NO.C 10100, C 10200, C 10300, C 10800, C 12000, C 12200, C 70600, C 71500. ASTM / ASME SB 466 UNS NO.C 70600 ( CU -NI- 90/10), C 71500 ( CU -NI- 70/30)</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Other Form of Fitting</th>
        <td class="pe-4">DAIRY FITTING &amp; ALSO AS PER DRAWING.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Specialize</th>
        <td class="pe-4">* Long Bend with Radius R=3D, 3D, 10D etc. * Pigabble Bend. IBR Fitting, Barred Tee etc.</td>
      </tr>
    </tbody>
  </table>
  

{% endblock %}
