{% extends 'products/product_base.html' %}
{% load static %}

{% block product_breadcrumb_title %}Stainless Steel Channel{% endblock %}
{% block product_breadcrumb_subtitle %}Channels{% endblock %}

{% block product_image %}
<img src="{% static 'img/product/Stainless-Steel-Channel.jpg' %}" alt="Stainless Steel Channel" class="img-fluid w-100 h-100 object-fit-cover scale-hover">
{% endblock %}

{% block product_title %}Premium Stainless Steel Channel{% endblock %}

{% block product_description %}
We are also leading supplier and trader of stainless steel channel.
{% endblock %}

{% block product_specifications %}
    <table class="table table-hover table-bordered align-middle mb-0">
        <thead class="bg-primary text-white">
            <tr>
              <th class="w-25 ps-4">Specification</th>
              <th class="pe-4">Details</th>
            </tr>
          </thead>
        <tbody>
        <tr class="hover-shadow">
            <th scope="row" class="bg-dark text-white ps-4">AISI</th>
            <td class="pe-4">304/L, 303, 316/L, 321, 310, 316Ti, 316LN, 410, 416, 420, 430F, 431, Duplex 2205</td>
        </tr>
        <tr class="hover-shadow">
            <th scope="row" class="bg-dark text-white ps-4">Sizes (mm)</th>
            <td class="pe-4">
            100 x 40 x 5, 150 x 50 x 5, 100 x 44 x 8, 100 x 45 x 6, 100 x 50 x 6, 75 x 40 x 6,<br>
            50 x 25 x 3, 50 x 25 x 6, 80 x 40 x 5
            </td>
        </tr>
        <tr class="hover-shadow">
            <th scope="row" class="bg-dark text-white ps-4">Sizes (inches)</th>
            <td class="pe-4">
            4" x 1.58" x 0.180", 6" x 1.92" x 0.200", 4" x 1.720" x 0.320", 4" x 1.3/4" x 0.250", 4" x 2" x 1/4", 3" x 1.1/2" x 1/4", 2" x 1" x 1/8", 2" x 1" x 1/4", 3" x 1.1/2" x 0.180"
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
