{% extends 'products/product_base.html' %}
{% load static %}

{% block product_breadcrumb_title %}Stainless Steel Bars{% endblock %}
{% block product_breadcrumb_subtitle %}Bars{% endblock %}

{% block product_image %}
<img src="{% static 'img/product/Stainless-Steel-Bars.jpg' %}" alt="Stainless Steel Bars" class="img-fluid w-100 h-100 object-fit-cover scale-hover">
{% endblock %}

{% block product_title %}Premium Stainless Steel Bars{% endblock %}

{% block product_description %}
The Stainless Steel Bars serves as perfect solution for rust prevention while reinforcement in concrete structures. These bars helps in achieving a life of 80 to 100 years in the building structures. These bars are appreciated for durability, high tensile strength and finishing and can also be customized as per the requirements of our clients.
{% endblock %}

{% block product_specifications %}
  <table class="table table-hover align-middle mb-0">
    <thead class="bg-primary text-white">
      <tr>
        <th class="w-25 ps-4">Specification</th>
        <th class="pe-4">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Size Range</th>
        <td class="pe-4">Dia 5MM To 500 MM &amp; Length 500 MM to 6000 MM.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Stainless Steel</th>
        <td class="pe-4">
          ASTM / ASME SA 276 TP 202, 304, 304L, 309S, 309H, 310S, 316, 316L, 316TI, 317L, 321, 347, 410, 420, 430, 431, 440A, B &amp; C., 446, 17-4 PH.
        </td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Duplex Steel</th>
        <td class="pe-4">ASTM / ASME SA 276 UNS NO. S 31803, S 32205, S 32550, S 32750, S 32760.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Carbon Steel</th>
        <td class="pe-4">ASTM / ASME A 105.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Alloy Steel</th>
        <td class="pe-4">
          ASTM / ASME A 182 GR F 5, F 9, F 11, F 12, F 22, F 91.<br>
          ASTM / ASME A 729 GR B 11 &amp; B 22.
        </td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Nickel Alloy</th>
        <td class="pe-4">
          ASTM / ASME SB 160 UNS 2200 (NICKEL 200) / UNS 2201 (NICKEL 201)<br>
          ASTM / ASME SB 164 UNS 4400 (MONEL 400)<br>
          ASTM / ASME SB 425 UNS 8825 (INCONEL 825)<br>
          ASTM / ASME SB 166 UNS 6600 (INCONEL 600) / UNS 6601 (INCONEL 601)<br>
          ASTM / ASME SB 446 UNS 6625 (INCONEL 625)<br>
          ASTM / ASME SB 574 UNS 10276 (HASTELLOY C 276)<br>
          ASTM / ASME SB 472 UNS 8020 (ALLOY 20 / 20 CB 3)
        </td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">High Speed Steel (HSS)</th>
        <td class="pe-4">M2, M3, MJ5, M42, T-1, T-4, T-15, T-42, D2, D3, H11, H13, OHNS-01 &amp; EN52 HCHCR &amp; OHNS in Grade.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Other Grade</th>
        <td class="pe-4">Aluminium, Phosphorus Bronze, Gun Metal, Lead, EN Series Etc.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Finish</th>
        <td class="pe-4">Bright, Polish &amp; Black.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Form</th>
        <td class="pe-4">Round, Square, Hex (A/F), Bush, Rectangle, Flat, Block, Billet, Ingot, Etc.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Hardness</th>
        <td class="pe-4">Soft, Hard, Half Hard, Quarter Hard, etc.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Test Certificate</th>
        <td class="pe-4">IBR TC, Lab, TC from Govt. App. Lab, with Third Party inspection.</td>
      </tr>
      <tr class="hover-shadow">
        <th scope="row" class="bg-dark text-white ps-4">Specialize</th>
        <td class="pe-4">304, 316, *17-4 PH, Copper E/c Grade.</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
