{% extends 'products/product_base.html' %}
{% load static %}

{% block product_breadcrumb_title %}Stainless Steel Flats{% endblock %}
{% block product_breadcrumb_subtitle %}Flats{% endblock %}

{% block product_image %}
<img src="{% static 'img/product/Stainless-Steel-Flats.jpg' %}" alt="Stainless Steel Flats" class="img-fluid w-100 h-100 object-fit-cover scale-hover">
{% endblock %}

{% block product_title %}Premium Stainless Steel Flats{% endblock %}

{% block product_description %}
We offer a wide variety of Stainless Steel Railing Flat Bars for our valuable clients. These Stainless Steel Railing Flat Bars are manufactured using high quality stainless steel which is sourced from the reliable vendors. These corrosion resistant bars are highly heat and chemical resistant. These steel bars find application in furniture , power plants, chemical, marine and engineering industries.
{% endblock %}

{% block product_specifications %}
<table class="table table-hover table-bordered align-middle mb-0">
    <thead class="bg-primary text-white">
      <tr>
        <th class="ps-4"><strong>MM</strong></th>
        <th><strong>INCH</strong></th>
        <th><strong>MM</strong></th>
        <th class="pe-4"><strong>INCH</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover-shadow">
        <td class="ps-4">25 X 3</td>
        <td>1" x 1/8"</td>
        <td>50 X 32</td>
        <td class="pe-4">2" x 1-1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">25 X 5</td>
        <td>1" x 3/16"</td>
        <td>60 X 5</td>
        <td class="pe-4">2.3/8" x 3/16"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">25 X 6</td>
        <td>1" x 1/4"</td>
        <td>60 X 6</td>
        <td class="pe-4">2.3/8" x 1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">25 X 9</td>
        <td>1" x 5/16"</td>
        <td>65 X 6</td>
        <td class="pe-4">2.1/2" x 1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">25 X 10</td>
        <td>1" x 3/8"</td>
        <td>65 X 7</td>
        <td class="pe-4">2.1/2" x 5/16"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">25 X 12</td>
        <td>1" x 1/2"</td>
        <td>65 X 8</td>
        <td class="pe-4">2.1/2" x 5/16"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">30 X 3</td>
        <td>1.1/4" x 1/8"</td>
        <td>65 X 9</td>
        <td class="pe-4">2.1/2" x 3/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">30 X 5</td>
        <td>1.1/4" x 3/16"</td>
        <td>65 X 10</td>
        <td class="pe-4">2.1/2" x 3/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">30 X 6</td>
        <td>1.1/4" x 1/4"</td>
        <td>65 X 12</td>
        <td class="pe-4">2.1/2" x 1/2"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">30 X 8</td>
        <td>1.1/4" x 5/16"</td>
        <td>65 X 16</td>
        <td class="pe-4">2.1/2" x 5/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">30 X 10</td>
        <td>1.1/4" x 3/8"</td>
        <td>65 X 20</td>
        <td class="pe-4">2.1/2" x 3/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">32 X 3</td>
        <td>1.1/4" x 1/8"</td>
        <td>65 X 25</td>
        <td class="pe-4">2.1/2" x 1"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">32 X 5</td>
        <td>1.1/4" x 1/8"</td>
        <td>65 X 32</td>
        <td class="pe-4">2.1/2" x 1-1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">32 X 6</td>
        <td>1.1/4" x 3/16"</td>
        <td>75 X 6</td>
        <td class="pe-4">3" x 1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">32 X 8</td>
        <td>1.1/4" x 1/4"</td>
        <td>75 X 7</td>
        <td class="pe-4">3" x 5/16"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">32 X 9</td>
        <td>1.1/4" x 5/16"</td>
        <td>75 X 8</td>
        <td class="pe-4">3" x 5/16"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">32 X 10</td>
        <td>1.1/4" x 3/8"</td>
        <td>75 X 9</td>
        <td class="pe-4">3" x 3/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">32 X 16</td>
        <td>1.1/4" x 5/8"</td>
        <td>75 X 10</td>
        <td class="pe-4">3" x 3/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 3</td>
        <td>1.1/2" x 1/8"</td>
        <td>75 X 12</td>
        <td class="pe-4">3" x 1/2"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 5</td>
        <td>1.1/2" x 3/16"</td>
        <td>75 X 16</td>
        <td class="pe-4">3" x 5/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 6</td>
        <td>1.1/2" x 1/4"</td>
        <td>75 X 20</td>
        <td class="pe-4">3" x 3/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 8</td>
        <td>1.1/2" x 5/16"</td>
        <td>75 X 25</td>
        <td class="pe-4">3" x 1"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 9</td>
        <td>1.1/2" x 5/16"</td>
        <td>75 X 32</td>
        <td class="pe-4">3" x 1-1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 10</td>
        <td>1.1/2" x 3/8"</td>
        <td>90 X 6</td>
        <td class="pe-4">3.1/2" x 1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 12</td>
        <td>1.1/2" x 1/2"</td>
        <td>90 X 7</td>
        <td class="pe-4">3.1/2" x 1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 16</td>
        <td>1.1/2" x 5/8"</td>
        <td>90 X 8</td>
        <td class="pe-4">3.1/2" x 5/16"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 20</td>
        <td>1.1/2" x 3/4"</td>
        <td>90 x 9</td>
        <td class="pe-4">3.1/2" x 3/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">40 X 25</td>
        <td>1.1/2" x 1"</td>
        <td>90 x 10</td>
        <td class="pe-4">3.1/2" x 3/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 3</td>
        <td>2" x 1/8"</td>
        <td>90 X 12</td>
        <td class="pe-4">3.1/2" x 1/2"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 5</td>
        <td>2" x 3/16"</td>
        <td>100 X 6</td>
        <td class="pe-4">4" x 1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 6</td>
        <td>2" x 1/4"</td>
        <td>100 x 7</td>
        <td class="pe-4">4" x 1/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 8</td>
        <td>2" x 5/16"</td>
        <td>100 x 8</td>
        <td class="pe-4">4" x 5/16"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 9</td>
        <td>2" x 3/8"</td>
        <td>100 x 9</td>
        <td class="pe-4">4" x 3/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 10</td>
        <td>2" x 3/8"</td>
        <td>100 x 10</td>
        <td class="pe-4">4" x 3/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 12</td>
        <td>2" x 1/2"</td>
        <td>100 X 12</td>
        <td class="pe-4">4" x 1/2"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 15</td>
        <td>2" x 5/8"</td>
        <td>100 X 16</td>
        <td class="pe-4">4" x 5/8"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 16</td>
        <td>2" x 5/8"</td>
        <td>100 X 20</td>
        <td class="pe-4">4" x 3/4"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 20</td>
        <td>2" x 3/4"</td>
        <td>100 X 25</td>
        <td class="pe-4">4" x 1"</td>
      </tr>
      <tr class="hover-shadow">
        <td class="ps-4">50 X 25</td>
        <td>2" x 1"</td>
        <td>100 X 32</td>
        <td class="pe-4">4" x 1-1/4"</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
