{% extends 'products/product_base.html' %}
{% load static %}

{% block product_breadcrumb_title %}Stainless Steel Sheets, Plates & Coils{% endblock %}
{% block product_breadcrumb_subtitle %}Sheets, Plates & Coils{% endblock %}

{% block product_image %}
<img src="{% static 'img/product/Stainless-Steel-Sheets-Plates-Coils.jpg' %}" alt="Stainless Steel Sheets, Plates & Coils" class="img-fluid w-100 h-100 object-fit-cover scale-hover">
{% endblock %}

{% block product_title %}Premium Stainless Steel Sheets, Plates & Coils{% endblock %}

{% block product_description %}
The Stainless Steel Sheets, Plates & Coils find extensive use in industries like oil & refinery, automotive, and textile sectors. Fabricated using graded stainless steel and advanced technology, they offer exceptional sturdiness, precise dimensions, and corrosion resistance.
{% endblock %}

{% block product_specifications %}
<table class="table table-hover align-middle mb-0">
  <thead class="bg-primary text-white">
    <tr>
      <th class="w-25 ps-4">Specification</th>
      <th class="pe-4">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Range of Sheet &amp; Coils</th>
      <td class="pe-4">0.3 to 5 mm Thickness in Sheet &amp; Coil</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Range of Plate &amp; Coils</th>
      <td class="pe-4">5 MM To 150 MM + Thickness in Various Sizes</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Material Grade</th>
      <td class="text-break">Stainless Steel, Nickel Alloys, Carbon Steel, Alloy Steel, IBR &amp; Non IBR Certification</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Stainless Steel</th>
      <td class="pe-4">ASTM / ASME SA 240 202, 304, 304L, 304H, 309S, 309H, 310S, 310H, 316, 316H, 316L, 316TI, 317, 317L, 321, 321H, 347, 347H, 409, 410, 410S, 430</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Carbon Steel</th>
      <td class="pe-4">IS 2062 / EN-8 / ASTM A 515: 60, 70 / ASTM A 516: 60, 70 / ASTM A 537: Class 1, Class 2</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Alloy Steel</th>
      <td class="pe-4">A387 Class 1 Class 2 Grade: 5, 9, 11, 12, 22</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Nickel Alloy</th>
      <td class="text-break">
        ASTM / ASME SB 162 UNS 2200 (NICKEL 200) / UNS 2201 (NICKEL 201)<br>
        ASTM / ASME SB 127 UNS 4400 (MONEL 400)<br>
        ASTM / ASME SB 424 UNS 8825 (INCONEL 825)<br>
        ASTM / ASME SB 168 UNS 6600 (INCONEL 600) / UNS 6601 (INCONEL 601)<br>
        ASTM / ASME SB 443 UNS 6625 (INCONEL 625)<br>
        ASTM / ASME SB 574 UNS 10276 (HASTELLOY C 276)<br>
        ASTM / ASME SB 462 UNS 8020 (ALLOY 20 / 20 CB 3)
      </td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Duplex Steel</th>
      <td class="pe-4">ASTM / ASME SA 240 UNS NO. S 31803, S 32205, S 32550, S 32750, S 32760</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Boiler Quality</th>
      <td class="pe-4">ASTM 516 Gr.70</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">High Speed Steel</th>
      <td class="pe-4">M2, M3, M35, M42 etc.</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Finish</th>
      <td class="pe-4">2B, 2D, HR, CR, BA (No. 8 &amp; No. 4), Satin (Met with Plastic Coated)</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Hardness</th>
      <td class="pe-4">Soft, Hard, Half Hard, Quarter Hard, Spring Hard</td>
    </tr>
    <tr class="hover-shadow">
      <th scope="row" class="bg-dark text-white ps-4">Form</th>
      <td class="pe-4">Coils, Foils, Rolls, Plain Sheet, Shim Sheet, Perforated Sheet, Chequered Plate, Strip, Flats, Blank (Circle), Ring (Flange)</td>
    </tr>
  </tbody>
</table>
{% endblock %}
