
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Include components -->
    {% include 'components/carousel.html' %}
    {% include 'components/about.html' %}
    {% include 'components/facts.html' %}
    {% include 'components/products.html' %} 
    {% include 'components/applications.html' %}
    {% include 'components/features.html' %}
    {% include 'components/video_modal.html' %}
    {% include 'components/partners.html' %}
    {% include 'components/contact_us.html' %}

{% endblock %}