{% load static %}
<!-- About Start -->
    <!-- About Start -->
    <div class="container-fluid py-5 about">
        <div class="container">
            {% comment %} <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="fw-medium text-uppercase text-primary mb-2">About Us</p>
                <h1 class="display-5 mb-4">We Are Leader In Industrial Market</h1>
            </div> {% endcomment %}
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row gx-3 h-100">
                        <div class="col-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'img/about-1.jpg' %}">
                        </div>
                        <div class="col-6 align-self-end wow fadeInDown" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'img/about-2.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="section-title">
                        <p class="fs-5 fw-medium fst-italic text-primary">About Us</p>
                        <h1 class="display-6">The success history of TEA House in 25 years</h1>
                    </div>
                    <p class="mb-4">Established in the year 2008, we ,Heavy Pipe House, are an eminent importer, trader and supplier of a wide assortment of Pipes, MS Sheets & Beams, Seamless Tubes and Pipe Fittings.We are pleased to inform you that We are Authorized Stockist of M/S, MAHARASHTRA SEAMLESS LIMITED, THE INDIAN SEAMLESS METAL TUBES LTD, JINDAL SAW LTD.
                    We are Dealing with Maharashtra Seamless Limited, The Indian Seamless Metal Tubes Ltd, Jindal Saw Ltd.
                    We are supplier of Carbon Steel Pipes, Alloy Steel Pipes
                    </p>
                    <div class="d-flex align-items-center mb-4">
                        <div class="flex-shrink-0 bg-primary p-4">
                            <h1 class="display-2">15</h1>
                            <h5 class="text-white">Years of</h5>
                            <h5 class="text-white">Experience</h5>
                        </div>
                        <div class="ms-4">
                            <p><i class="fa fa-check text-primary me-2"></i>Mission & Vision</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Authorized Partnerships</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Expert Team</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Commitment to Quality</p>
                            <p class="mb-0"><i class="fa fa-check text-primary me-2"></i>Wide Range of Products</p>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-envelope-open text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2">Email us</p>
                                    <a href="mailto:karmamani432@gmail.com" class="h5 mb-0">karmamani432@gmail.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-phone-alt text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2">Call us</p>
                                    <a href="tel:+91 7090086060" class="h5 mb-0">+91 70900 86060</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Certificates Section Start -->
<!-- Certificates Section Start -->
<div class="container-fluid py-5 bg-light">
    <div class="container">
        <div class="section-title text-center mx-auto mb-5" style="max-width: 600px;">
            <h3 class="mb-0">Certificates of Excellence</h3>
        </div>
        <div class="row justify-content-center g-4">
            <!-- Certificate 1 -->
            
            <div class="col-md-6 col-lg-4">
                <div class="certificate-card h-100">
                    <div class="certificate-img-container">
                        <img src="{% static 'pdfs/msme_certification.png' %}" alt="MSME REGISTRATION" class="certificate-img">
                    </div>
                    <div class="certificate-text fw-semibold">MSME REGISTRATION</div>
                </div>
            </div>

            <!-- Certificate 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="certificate-card h-100">
                    <div class="certificate-img-container">
                        <img src="{% static 'pdfs/iso_certification.png' %}" alt="ISO CERTIFICATE" class="certificate-img">
                    </div>
                    <div class="certificate-text fw-semibold">ISO CERTIFICATE</div>
                </div>
            </div>
            

            <!-- Certificate 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="certificate-card h-100">
                    <div class="certificate-img-container">
                        <img src="{% static 'pdfs/udyam_registration.png' %}" alt="UDYAM REGISTRATION" class="certificate-img">
                    </div>
                    <div class="certificate-text fw-semibold">UDYAM REGISTRATION</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Certificates Section End -->

<!-- Certificates Section End -->


<!-- About End -->