{% load static %}
<!-- applications Start -->
<div class="container-fluid applications bg-dark pt-5 pb-5 my-5 px-0">
    <div class="text-center section-title mx-auto mt-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 800px;">
        <p class="fw-medium text-uppercase text-primary mb-2">Our Applications</p>
        <h1 class="display-5 text-white mb-5">Industries We Serve with Precision Metal Solutions</h1>
    </div>
    <div class="owl-carousel project-carousel wow fadeIn pb-5" data-wow-delay="0.1s">
        <!-- Aerospace -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/aerospace.jpg' %}" alt="Aircraft and Aerospace Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Aerospace Industry</h5>
            </div>
        </a>

        <!-- Engineering & Construction -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/engineering-construction.jpg' %}" alt="Engineering & Construction">
            <div class="project-title">
                <h5 class="text-primary mb-0">Engineering & Construction</h5>
            </div>
        </a>

        <!-- Boiler Industry -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/boiler-industry.jpg' %}" alt="Boiler Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Boiler Industry</h5>
            </div>
        </a>

        <!-- Chemical Industry -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/chemical-industry.jpg' %}" alt="Chemical Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Chemical Industry</h5>
            </div>
        </a>

        <!-- Cement Plants -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/cement-plants.jpg' %}" alt="Cement Plants">
            <div class="project-title">
                <h5 class="text-primary mb-0">Cement Plants</h5>
            </div>
        </a>

        <!-- Defence -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/defence.jpg' %}" alt="Defence Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Defence</h5>
            </div>
        </a>

        <!-- Drilling & Well Building -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/drilling-well-building.jpg' %}" alt="Drilling & Well Building">
            <div class="project-title">
                <h5 class="text-primary mb-0">Drilling & Well Building</h5>
            </div>
        </a>

        <!-- Dairy & Food Industry -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/dairy-food-industry.jpg' %}" alt="Dairy & Food Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Dairy & Food Industry</h5>
            </div>
        </a>

        <!-- Fertilizer -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/fertilizer.jpg' %}" alt="Fertilizer Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Fertilizer Industry</h5>
            </div>
        </a>

        <!-- Heat Exchanger -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/heat-exchanger.jpg' %}" alt="Heat Exchanger">
            <div class="project-title">
                <h5 class="text-primary mb-0">Heat Exchanger</h5>
            </div>
        </a>

        <!-- Instrumentation -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/instrumentation.jpg' %}" alt="Instrumentation">
            <div class="project-title">
                <h5 class="text-primary mb-0">Instrumentation</h5>
            </div>
        </a>

        <!-- Nuclear Power -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/nuclear-power.jpg' %}" alt="Nuclear Power">
            <div class="project-title">
                <h5 class="text-primary mb-0">Nuclear Power</h5>
            </div>
        </a>

        <!-- Oil & Gas -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/oil-gas.jpg' %}" alt="Oil & Gas Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Oil & Gas</h5>
            </div>
        </a>

        <!-- Pharmaceutical -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/pharmaceutical.jpg' %}" alt="Pharmaceutical Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Pharmaceutical</h5>
            </div>
        </a>

        <!-- Petrochemicals -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/petrochemicals.jpg' %}" alt="Petrochemical Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Petrochemicals</h5>
            </div>
        </a>

        <!-- Power Plants -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/power-plants.jpg' %}" alt="Power Plants">
            <div class="project-title">
                <h5 class="text-primary mb-0">Power Plants</h5>
            </div>
        </a>

        <!-- Ship Building -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/ship-building.jpg' %}" alt="Ship Building Industry">
            <div class="project-title">
                <h5 class="text-primary mb-0">Ship Building</h5>
            </div>
        </a>

        <!-- Water Treatment -->
        <a class="project-item" href="">
            <img class="img-fluid" src="{% static 'img/water-treatment.jpg' %}" alt="Water Treatment Plants">
            <div class="project-title">
                <h5 class="text-primary mb-0">Water Treatment</h5>
            </div>
        </a>
    </div>
</div>
<!-- applications End -->