<footer>
    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Our Office</h5>
                    <p class="mb-2">
                        <i class="fa fa-map-marker-alt me-3"></i>
                        KARMAMANI METAL IMPEX

                        SHOP NO:135/A/2,OPP. KAMAL ESTATE, AJOD DAIRY ROAD, RAKHIAL,
                        AHMEDABAD - 380023

                    </p>
                    <p class="mb-2">
                        <i class="fa fa-phone-alt me-3"></i>
                        <a href="tel:+91 7090086060">+91 70900 86060</a>
                    </p>
                    <p class="mb-2">
                        <i class="fa fa-envelope me-3"></i>
                        <a href="mailto:karmamani432@gmail.com">karmamani432@gmail.com</a>
                    </p>
                    <div class="d-flex flex-wrap justify-content-center justify-content-md-start pt-3 mt-3">
                        <a class="btn btn-square btn-primary rounded-circle m-2 text-secondary" href="https://www.facebook.com/profile.php?id=61575242431450" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        {% comment %} 
                        <a class="btn btn-square btn-primary rounded-circle m-2 text-secondary" href="https://www.instagram.com/karmamanimetalimpex.in/" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a> 
                        {% endcomment %}
                        {% comment %} 
                        <a class="btn btn-square btn-primary rounded-circle m-2 text-secondary" href="https://www.instagram.com/karmamanimetalimpex.in/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a> 
                        {% endcomment %}
                        <a class="btn btn-square btn-primary rounded-circle m-2 text-secondary" href="https://www.instagram.com/karmamanimetalimpex.in/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="{% url 'index' %}">Home</a>
                    <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                    <a class="btn btn-link" href="{% url 'applications' %}">Applications</a>
                    <a class="btn btn-link" href="{% url 'weight-calculation-formula' %}">Weight Calculations</a>
                    <a class="btn btn-link" href="{% url 'contact-us' %}">Contact Us</a>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Business Hours</h5>
                    <p class="mb-1">Monday - Friday</p>
                    <h6 class="text-light">10:00 am - 06:00 pm</h6>
                    <p class="mb-1">Saturday</p>
                    <h6 class="text-light">10:00 am - 06:00 pm</h6>
                    <p class="mb-1">Sunday</p>
                    <h6 class="text-light">Closed</h6>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Product Links</h5>
                    <a href="{% url 'stainless-steel-sheets-plates-coils' %}" class="btn btn-link">Stainless Steel Sheets, Plates & Coils</a>
                    <a href="{% url 'stainless-steel-pipes-tubes' %}" class="btn btn-link">Stainless Steel Pipes & Tubes</a>
                    <a href="{% url 'stainless-steel-bars' %}" class="btn btn-link">Stainless Steel Bars</a>
                    <a href="{% url 'stainless-steel-flanges' %}" class="btn btn-link">Stainless Steel Flanges</a>
                    <a href="{% url 'stainless-steel-pipe-fittings' %}" class="btn btn-link">Stainless Steel Pipe Fittings</a>
                    <a href="{% url 'stainless-steel-angles' %}" class="btn btn-link">Stainless Steel Angles</a>
                    <a href="{% url 'stainless-steel-channels' %}" class="btn btn-link">Stainless Steel Channels</a>
                    <a href="{% url 'stainless-steel-flats' %}" class="btn btn-link">Stainless Steel Flats</a>
                    <a href="{% url 'stainless-steel-wires' %}" class="btn btn-link">Stainless Wires</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</footer>
